.tasks-item{
    display: flex;
}

.container{
    display: flex;
    justify-content: flex-end;
}

.container button{
    margin-right: 5px;
}

.container-pendient {
    text-decoration: line-through;
}